script(src="/app.js")

mixin position(cords, color)
    -var positions = cords[0] + cords[1]
    case color
        when true
            td.board-position.light(id=positions hx-target="#current-turn" hx-trigger="click" hx-swap="innerhtml ${this.id}")
        default
            td.board-position.dark(id=positions hx-on:click="alert(`You clicked ${this.id}`)")



table.chessboard(id="chessboard")
    - var y_val = 8
    - const  col_letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
    tbody 
        tr.header 
            th 
            th a
            th b
            th c
            th d
            th e
            th f
            th g
            th h 
        while y_val > 0
            tr.board-row
                th= y_val
                -var color = true // switch for alternating board color
                if y_val%2 != 0 
                    -color = !color // alternates color on odd row #'s
                each col in col_letters
                    +position([col,y_val], color)
                    -color = !color
                -y_val -- 





